.inter-normal {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Style Share */
:root {
  --primary-color: #4e47ff;
  --black: rgba(37, 36, 50, 1);
}
.btn-primary {
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn-primary:hover {
  background: linear-gradient(90deg, #4e47ff 0%, #ff6fd8 100%);
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(52, 152, 219, 0.25);
}
body {
  margin: 0;
  padding: 0;
  background-color: #f5f8ff;
}

/* header Style */
header {
  background-image: url('../Assets/Hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
.logo {
  color: var(--primary-color);
  font-size: 34px;
  font-weight: 900;
}
nav {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px 0 150px;
  gap: 909px;
  margin: 0 auto;
}
.nav-btn {
  width: 132px;
  height: 48px;
}

/* Banner Section */
.banner-section {
  margin: 0 auto;
  align-items: center;
  width: 905px;
  height: 237px;
  text-align: center;
}
.bs-title {
  margin-top: 150px;
  font-size: clamp(2rem, 5vw, 65px);
  color: var(--black);
  font-weight: 700;
  width: 905px;
  text-align: center;
  margin-bottom: 37px;
}
.bs-btn {
  margin-top: 0;
  width: 174px;
  height: 48px;
}

/* Action Section */
.action-section {
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 116px auto;
  gap: 220px;
}
.action-container {
  width: 517px;
  height: 203px;
}
.ac-title {
  color: var(--black);
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 0;
}
.ac-subtitle {
  margin: 23px 0;
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
  width: 517px;
}
.ac-btn {
  margin-top: 0;
  width: 229px;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
}
.action-image {
  border-radius: 48px;
  width: 403px;
}

/*  Productive Users Section */
.productive-user-section {
  margin: 0 auto;
  max-width: 1140px;
  height: 306px;
  border-radius: 24px;
  background-color: rgba(78, 71, 255, 0.1);
  text-align: center;
}
.pu {
  width: 856px;
  height: 206px;
  margin: 0 auto;
  padding: 50px 142px;
}
.pus-title {
  color: var(--black);
  font-size: 38px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}
.pus-c {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 158px;
}
.pus-c-title {
  color: var(--primary-color);
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.pus-c-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Users’ Feedback Section */
.feedback-section {
  max-width: 1140px;
  margin: 137px auto 137px;
  height: 342px;
}
.fs-title {
  color: var(--black);
  font-size: 42px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}
.fs-card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.fs-card {
  width: 366.67px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.fs-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 8px 32px rgba(78, 71, 255, 0.18);
}
.fsc-pic {
  display: flex;
  gap: 4px;
  margin: 0;
}
.fsc-title {
  color: rgba(30, 30, 30, 1);
  font-size: 24px;
  font-weight: 600;
  margin: 24px 0 0 0;
  margin-top: 24px;
}
.fsc-description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(30, 30, 30, 1);
  width: 318.67px;
  margin: 8px 0 24px 0;
}

/* FSC- Profile */
.fsc-profile {
  height: 46px;
}
.fsc-profile {
  display: flex;
  align-items: center;
  gap: 12px;
}
.fscp-pic {
  border-radius: 50%;
}
.fscp-title {
  font-size: 16px;
  font-weight: 600;
  color: rgba(117, 117, 117, 1);
  margin: 0;
  margin-bottom: 2px;
}
.fscp-description {
  color: rgba(179, 179, 179, 1);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

/* Ready to focus better */
.focus-better {
  max-width: 1140px;
  height: 696.77px;
  background-color: white;
  border-radius: 14px;
  margin: 0 auto;
  padding: 71px 150px;
  text-align: center;
}
.fb-title {
  color: var(--black);
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}
.fb-description {
  font-size: 16;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}
.fb-btn {
  width: 195px;
  height: 48px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
.fb-pic {
  width: 840px;
  align-items: center;
  margin: 0 auto;
}
.fb-pic img {
  border-radius: 48px;
}

/* Touch Section */
.touch-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
  gap: 115px;
  height: 632px;
}
.ts-title {
  color: black;
  font-size: 97px;
  font-weight: 700;
  width: 528px;
}
label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
}
input {
  width: 465px;
  height: 70px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 32px;
  font-size: 1.2rem;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
textarea {
  width: 465px;
  height: 135px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 32px;
  padding-top: 19px;
  font-size: 1.2rem;
}
textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.form-btn {
  width: 497px;
  height: 70px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 19px;
}

/* Footer Section */
footer {
  background-color: white;
  height: 428px;
  margin: 0 auto;
  text-align: center;
}
.fs {
  width: 531px;
  margin: 104px auto 0;
  padding-top: 104px;
}
.f-title {
  color: var(--primary-color);
  font-size: 100px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.f-description {
  color: rgba(137, 135, 161, 1);
  font-size: 16px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 20px;
}
.f-link {
  display: flex;
  justify-content: center;
  gap: 48px;
}
.f-link a {
  text-decoration: none;
  font-size: 16px;
  color: rgba(137, 135, 161, 1);
}